body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#container_cut {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60vh 200vh 200px;
  grid-template-areas:
    "mm"
    "sc"
    "ft";
}
#container_bulk {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 400vh 200px;
  grid-template-areas:
    "mm"
    "sc"
    "ft";
}

section {
  grid-area: sc;
  background-color: rgb(34, 34, 34);
}

footer {
  grid-area: ft;
  background-color: rgb(26, 26, 26);
}
.company_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
}
.headers a {
  color: lightgray;
  text-decoration: none;
}
.bulkocut_text {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-left: 20px;
  font-size: 25px;
  color: white;
}

.top_header {
  display: flex;
  left: 50px;
  background-color: black;
  padding-inline: 20px;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.top_header .company_name a {
  text-decoration: none;
  color: gold;
}

.text_footer a {
  display: flex;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

#fatty_burger {
  background-image: url(/img/mobil-bulk-p.jpg);
  background-size: cover;
  background-position: center;
}
#sallad {
  background-image: url(/img/cut-mobil.png);
  background-size: cover;
  background-position: center;
}
.top_header nav {
  display: none;
  position: absolute;
  right: 0px;
  top: 100px;
  justify-content: space-between;
  gap: 10px;
  padding-inline: 10px;
  flex-direction: column;
  font-size: larger;
  background-color: black;
}

.top_header nav.visible {
  display: flex;
}

#toggle-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#toggle-nav .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 999px;
}

#myLinks.visible {
  display: block;
}

#tre-recept {
  display: flex;
  flex-direction: column;
}

#burger-recept {
  display: flex;
  padding-left: 20px;
  margin-top: 100px;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
#chocolate-milkshake {
  display: flex;
  padding-left: 20px;
  margin-top: 60px;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
#muffin {
  display: flex;
  padding-left: 20px;
  margin-top: 50px;
  width: 80%;
  flex-direction: column;
  gap: 20px;
}
#chicken-rice {
  display: flex;
  padding-left: 20px;
  margin-top: 100px;
  flex-direction: column;
  width: 85%;
}
#fruit-smoothie {
  display: flex;
  padding-inline: 20px;
  margin-top: 100px;
  flex-direction: column;
  width: 85%;
}
#tre-recept img {
  border-radius: 20px;
  width: 100%;
}
.tre-recept-texter h3 {
  color: white;
  font-size: 25px;
}
.tre-recept-texter p {
  font-size: 18px;
  color: white;
}
.burger-button a {
  text-decoration: none;
  color: black;
}
.burger-button {
  height: 50px;
  font-size: large;
  border-radius: 10px;
}
.text_footer a {
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
}

@media screen and (min-width: 600px) {
  #container_bulk {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 1000px 300px;
    grid-template-areas:
      "mm mm"
      "sc sc"
      "ft ft";
  }
  #container_cut {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 900px 300px;
    grid-template-areas:
      "mm"
      "sc"
      "ft";
  }

  #sallad {
    background-image: url(/img/tasty-salad.jpg);
    background-size: cover;
    background-position: center;
  }
  #fatty_burger {
    background-image: url(/img/fried-chicken.jpg);
    background-size: cover;
  }

  .bulkocut_text {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 25px;
    color: white;
  }

  .text_footer a {
    display: flex;
    padding-left: 50px;
  }
  .text_footer a {
    font-size: 50px;
  }
  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
    gap: 110px;
  }
  .company_name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  #tre-recept {
    display: flex;
    gap: 50px;
    flex-direction: row;
  }

  #burger-recept {
    display: flex;
    padding-inline: 50px;
    margin-top: 100px;
    flex-direction: column;
    width: 25%;
  }
  #chocolate-milkshake {
    display: flex;
    padding-inline: 50px;
    margin-top: 100px;
    flex-direction: column;
    width: 25%;
  }
  #muffin {
    display: flex;
    padding-inline: 50px;
    margin-top: 100px;
    flex-direction: column;
    width: 25%;
  }
  #chicken-rice {
    display: flex;
    padding-left: 50px;
    margin-top: 100px;
    flex-direction: column;
    width: 40%;
  }
  #fruit-smoothie {
    display: flex;
    padding-inline: 50px;
    margin-top: 100px;
    flex-direction: column;
    width: 48%;
  }
  #tre-recept img {
    border-radius: 20px;
    width: 100%;
  }
  #tre-cut-recept img {
    border-radius: 20px;
    width: 100%;
  }
  #tre-recept p {
    font-size: 18px;
    color: white;
  }

  .burger-button {
    height: 50px;
    width: 30%;
    font-size: large;
    border-radius: 10px;
  }

  .top_header {
    display: flex;
    left: 50px;
    padding-inline: 50px;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }

  .top_header nav {
    display: none;
    position: initial;
    flex-direction: row;
    gap: 100px;
    font-size: 50px;
    background-color: transparent;
  }

  .top_header nav.visible {
    display: flex;
  }

  #toggle-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  #toggle-nav .bar {
    width: 175%;
    height: 7px;
    background-color: white;
    border-radius: 999px;
  }
}
