body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#container_fp {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100vh 500px 150px;
  grid-template-areas:
    "mm mm"
    "sc sc"
    "ft ft";
}
#hero_fp {
  grid-area: mm;
  display: flex;
  background-image: url(/img/cool_burgare-mobile.jpg);
  background-size: cover;
}
section {
  grid-area: sc;
  background-color: pink;
  border-radius: 20px;
}
footer {
  grid-area: ft;
  background-color: #2b2e31;
  border-radius: 20px;
}
#container_cut {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 200vh 150px;
  grid-template-areas:
    "mm mm"
    "sc sc"
    "ft ft";
}

#container_bulk {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 200vh 150px;
  grid-template-areas:
    "mm mm"
    "sc sc"
    "ft ft";
}

#sallad {
  background-image: url(/img/cut-mobil.png);
  background-size: cover;
}

.company_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
}

.top_header {
  display: flex;
  left: 50px;
  background-color: rgba(86, 86, 86, 0.595);
  padding-inline: 10px;
  align-items: center;
  justify-content: space-between;
}
.top_header .company_name a {
  text-decoration: none;
  color: darkgoldenrod;
}

.text_footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: goldenrod;
}

@media screen and (min-width: 600px) {
  #container_fp {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 150px) 100vh 150px;
    grid-template-areas:
      "mm mm"
      "sc sc"
      "ft ft";
  }
  #container_bulk {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 200vh 150px;
    grid-template-areas:
      "mm mm"
      "sc sc"
      "ft ft";
  }
  #container_cut {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 200vh 150px;
    grid-template-areas:
      "mm mm"
      "sc sc"
      "ft ft";
  }
  #hero_fp {
    background-image: url(/img/chef-cooking.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }
  #sallad {
    background-image: url(/img/tasty-salad.jpg);
    background-size: cover;
  }
  #fatty_burger {
    background-image: url(/img/fried-chicken.jpg);
    background-size: cover;
  }

  .bulkocut_text {
    position: absolute;
    top: 400px;
    left: 60px;
    font-size: 25px;
    color: lightgrey;
    background-color: rgba(38, 38, 38, 0.9);
    padding: 20px;
  }

  #catchphrase {
    position: absolute;
    top: 320px;
    left: 20px;
    color: white;
    background-color: rgba(23, 23, 23, 0.9);
    height: 100px;
    font-size: 25px;
    padding: 20px;
    border-radius: 40px;
  }
  #slogan {
    position: absolute;
    top: 470px;
    left: 20px;
    color: lightgrey;
    background-color: rgba(23, 23, 23, 0.9);
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
    font-weight: 700;
  }
  section {
    grid-area: sc;
    background-color: aquamarine;
  }

  footer {
    grid-area: ft;
    background-color: #1c1c1c;
  }
  .headers a {
    color: lightgray;
    text-decoration: none;
  }
  .text_footer {
    display: flex;
    justify-content: center;
  }
  .text_footer a {
    font-size: 50px;
    font-weight: 700;
  }
  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
    gap: 110px;
  }
  .company_name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .top_header {
    display: flex;
    left: 50px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-inline: 50px;
    align-items: center;
    justify-content: space-between;
    height: 150px;
  }
}
