body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#container_fp {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100vh 500px 150px;
  grid-template-areas:
    "mm mm"
    "sc sc"
    "ft ft";
}
#hero_fp {
  display: flex;
  /* background-image: url(/img/cool_burgare-mobile.jpg); */
  background-color: aqua;
  grid-area: mm;
}
section {
  grid-area: sc;
  background-color: darkblue;
  border-radius: 20px;
}
footer {
  grid-area: ft;
  background-color: #2b2e31;
  border-radius: 20px;
}

@media screen and (min-width: 600px) {
  #container_fp {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh 100vh 150px;
    grid-template-areas:
      "mm mm"
      "sc sc"
      "ft ft";
  }
  musclemenu {
    background-color: pink;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150px;
    width: 35%;
    background-color: rgba(18, 18, 18, 0.9);
    color: darkgoldenrod;
  }
  musclemenu a {
    color: darkgoldenrod;
    text-decoration: none;
  }
  #hero_fp {
    grid-area: mm;
    background-image: url(/img/cool-burgare-medium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
  }

  #catchphrase {
    position: absolute;
    top: 320px;
    color: white;
    font-size: 60px;
    padding: 50px;
    font-weight: 700;
  }
  #slogan {
    display: flex;
    position: absolute;
    top: 400px;
    color: rgb(150, 150, 150);
    font-size: 40px;
    padding: 50px;
    font-weight: 700;
  }
  section {
    grid-area: sc;
    background-color: aquamarine;
  }
  nav {
    position: absolute;
    top: 0px;
    left: 35%;
    height: 150px;
    width: 65%;
    background-color: rgba(18, 18, 18, 0.9);
    justify-content: space-around;
  }
  footer {
    grid-area: ft;
    background-color: #1c1c1c;
  }
  .headers a {
    color: lightgray;
    text-decoration: none;
  }
  .text_footer {
    display: flex;
    justify-content: center;
  }
  .text_footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: goldenrod;
    font-size: 50px;
    font-weight: 700;
  }
  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    gap: 110px;
  }
}

.company_name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
}
